<div class="row">
  <div class="col-sm-5">
    <h3>Article list:</h3>

    <ul class="items">
      Click on an article to see details:
      <!-- on link click call function/method to navigate -->
      <li *ngFor="let article of articles" (click)="onLinkSelect(article)" 
        [class.selected]="isSelectedRouteMatchOptionalParam(article)">
        <span class="badge">{{article.id}}</span>
        <span class="description">{{article.name}}</span>
      </li> 
    </ul> 
  
  </div>
  <div class="col-sm-7">
    <app-article-overview></app-article-overview>
    <app-article-contact></app-article-contact>
  </div>
</div>
