<div class="card" style="margin-top: 10px;">
  <div class="card-header">Product Contact</div>
  <div class="card-body">
    <ng-container *ngIf="(shoppingItems$ | async).length">
      <table class="table table-sm">
        <tbody>
          <tr *ngFor="let item of shoppingItems$ | async">
            <td style="border: 0"><strong>Contact for: </strong>{{ item.product.productName }}</td>
            <td style="border: 0"></td>
            <td style="border: 0"><strong>Name: </strong>{{ item.product.contactName }}</td>
            <td style="border: 0"><strong>Email: </strong>{{ item.product.contactEmail }}</td>
            <td style="border: 0" align="right">
              <a style="cursor: pointer;" (click)="removeItemFromView(item.id)" title="Remove">
                <i class="fa fa-times" aria-hidden="true" style="color: red;">Remove</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </div>
</div>